body {
  background-color: #fad3cf;
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: 25px;
  font-weight: 100;
  line-height: 25px;
  margin-bottom: 5;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 15px;
  font-weight: 100;
  list-style: none;
  line-height: 17px;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

small {
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  text-align: center;
}

footer {
  margin-top: 5px;
  text-align: center;
}

.btn {
  background-color: #a696c8;
  border-color: #a696c8;
}

.card {
  display: block;
  margin: auto;
  margin-top: 30px;
  max-width: 600px;
}

.card-body {
  margin: 10px;
  padding: 15px;
}

.content {
  margin-bottom: 15px;
}

.col-5 {
  margin-top: 24px;
}
